<p>home works!</p>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/1.jpg" class="d-block w-100" alt="img" style="width: 500px; height: auto;">
      </div>
      <div class="carousel-item">
        <img src="assets/img/2.jpg" class="d-block w-100" alt="img" width="300px" height="auto">
      </div>
      <div class="carousel-item">
        <img src="assets/img/3.jpg" class="d-block w-100" alt="img" width="300px" height="auto">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <br>
    <br>
    <br>
    <br>
    <div class="container">

      <button class="btn btn-success" type="submit" (click)="logout()">Log Out</button>
    </div>

    
  </div>
