<!-- <app-header></app-header> -->
<!-- <div class="container">
    <h2>Welcome, {{ user.userName }}!</h2>
    <div *ngIf="user">
        <p><strong>Name:</strong> {{ user.userName }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
        <a [routerLink]="['/account-details', account.accountNumber]">View Details</a>

        
    </div>
    
    <div *ngIf="!user">
        <p>Loading user profile...</p>
    </div>
</div> -->

<!-- <app-footer></app-footer> -->

<div class="container">
    <ng-container *ngIf="userRole === 'user'">
        <h2>Welcome, {{ user.firstName }} {{ user.lastName }}!</h2>

        <div *ngIf="user" class="user-details">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <!-- <p><strong>Gender:</strong> {{ user.gender }}</p> -->
            
            
        </div>

        <div *ngIf="!user" class="loading-message">
            <p>Loading user profile...</p>
        </div>
    </ng-container>


    <ng-container *ngIf="userRole === 'admin'">
        <h2> {{ user.firstName }} {{ user.lastName }}!</h2>

        <div *ngIf="user" class="user-details">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Role:</strong> {{ user.role }}</p>
        </div>

        <div *ngIf="!user" class="loading-message">
            <p>Loading user profile...</p>
        </div>
    </ng-container>

</div>