<div class="loan-list-container">
    <!-- <h2>Loans for Account: {{ accountNumber }}</h2> -->
    <h2>Loans List</h2>
    <table class="loan-table">
        <thead>
            <tr>
                <!-- <th>Loan ID</th> -->
                <th>Loan Amount</th>
                <th>Interest Rate %</th>
                <th>Duration (Months)</th>
                <th>Monthly Payment</th>
                <th>Balance Remaining</th>
                <!-- <th>Status</th> -->
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let loan of loans">
                <!-- <td>{{ loan.id }}</td> -->
                <td>{{ loan.loanAmount | currency }}</td>
                <td>{{ loan.interestRate }}%</td>
                <td>{{ loan.durationInMonths }}</td>
                <td>{{ loan.monthlyPayment | currency }}</td>
                <td>{{ loan.balanceRemaining | currency }}</td>
                <!-- <td>{{ loan.status }}</td> -->
                <td>{{ loan.startDate | date:'mediumDate' }}</td>
                <td>{{ loan.endDate | date:'mediumDate' }}</td>
                <td>
                    <button (click)="viewLoanDetails(loan.id)">View Details</button>
                    <button (click)="makePayment(loan.id)">Make Payment</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>