.loan-list-container {
  padding: 20px;
  background-color: #e7f3ff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 50px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.loan-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
}

.loan-table thead {
  background-color: #3a99fe;
  color: #ffffff;
}

.loan-table th,
.loan-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.loan-table th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.loan-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.loan-table tbody tr:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.loan-table tbody td button {
  background-color: #3a99fe;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* margin-right: 5px; */
  margin: 5px;
}

.loan-table tbody td button:hover {
  background-color: #0056b3;
}

.loan-table tbody td button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}






/* .loan-list-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 50px auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-family: 'Arial', sans-serif;
  }
  
  .loan-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
  }
  
  .loan-table thead {
    background-color: #007bff;
    color: #fff;
  }
  
  .loan-table th, .loan-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .loan-table th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  
  .loan-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .loan-table tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }
  
  .table-actions {
    display: flex;
    gap: 10px;
  }
  
  .table-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .table-actions button:hover {
    background-color: #0056b3;
  }
  
  .table-actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
   */