<div class="container">
    <h2 class="text-center">Withdraw</h2>
    <form [formGroup]="formValue" (ngSubmit)="withdraw()">
      <div class="form-group">
        <label for="accountId">Date</label>
        <input type="date" id="date" formControlName="date" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="accountId">Account ID</label>
        <input type="number" id="accountId" formControlName="accountId" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" id="amount" formControlName="amount" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="formValue.invalid">Withdraw</button>
    </form>
  </div>
  