<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Account <span>Details</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i></button>
                                <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Id</th>
                                <th>Account Number</th>
                                <th>Balance</th>
                                <th>Action</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let acc of accounts | async">
                            <tr>
                                <td>{{acc.id}}</td>
                                <td>{{acc.userId}}</td>
                                <td>{{acc.accountNumber}}</td>
                                <td>{{acc.balance}}</td>
                                <td>Sinaai-Waas</td>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                        <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>10</b> entries</div>
                        <div class="col-sm-6 col-xs-6">
                            <ul class="pagination hidden-xs pull-right">
                                <li><a href="#"><</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                
                                <li><a href="#">></a></li>
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#"><</a></li>
                                <li><a href="#">></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <h2 class="text-center">Accounts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Account Number</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{ account.id }}</td>
                <td>{{ account.accountNumber }}</td>
                <td>{{ account.balance | currency }}</td>
                <td>
                    <ul class="action-list">
                        <li><a (click)="updateAccount(account.id)" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                        <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>