<div class="container">
    <!-- <div class="view-account-container">
        <h2>Account Details</h2>
        <p><strong>Account Type:</strong> {{ account.accountType }}</p>
        <p><strong>Balance:</strong> {{ account.balance | currency }}</p>
        <p><strong>Created At:</strong> {{ account.createdAt | date }}</p>
        <p><strong>Updated At:</strong> {{ account.updatedAt | date }}</p>
    </div> -->
    
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Account Details</h5>
    
          <!-- Table with hoverable rows -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#Id</th>
                <th scope="col">Account Type</th>
                <th scope="col">Balance</th>
                <th scope="col">Create Date</th>
                <th scope="col">Updated Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let acc of account | async">
                <td>{{ account.accountId }}</td>
                <td>{{ acc.accountType }}</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
              
            </tbody>
          </table>
          <!-- End Table with hoverable rows -->
    
        </div>
      </div>
</div>